:root {
    --backgroundcolor: #502C73;
    --strokecolor: #6F4D8F;
    --strokewidth: 24px;
}

html {
    font-size: calc(1em + 1vw)
}
body {
    background-color: var(--backgroundcolor);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#app,
svg {
    width: 100vw;
    height: 100vh;
}

#secondsLine {
    stroke: var(--strokecolor);
    stroke-width: var(--strokewidth);
}
